<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>panorama</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="css/hint.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/lanes.css">

<script src="js/reqwest.min.js" type="text/javascript"></script>
<script src="js/knockout.min.js" type="text/javascript"></script>
<script src="js/underscore.min.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>
<script>
var viewModel = {
	loggedIn: <%= everyauth.loggedIn %>,
	organization: ko.observable(),
	loading: ko.observable(false),
	repos: ko.observableArray(),
	startDate: ko.observable(),
	endDate: ko.observable(),

	getGithubLink: function (push) {
		return 'https://github.com/' + [viewModel.organization(), push.repo, 'compare', push.before + '...' + push.head].join('/');
	},
	getTooltipText: function (push) {
		var text = [moment(push.date).fromNow()];
		var messages = _.map(_.pluck(push.commits, 'message'), function (msg) {
			return '‣ ' + msg;
		});
		return text.concat(messages).join('\n');
	}
};
viewModel.startFormatted = ko.computed(function () {
	return moment(viewModel.startDate()).fromNow();
});
viewModel.endFormatted = ko.computed(function () {
	return moment(viewModel.endDate()).fromNow();
});

window.onload = function () {
	fetchPushes();
	ko.applyBindings(viewModel);
};
function fetchPushes() {
	if (!viewModel.loggedIn) {
		return false;
	}

	viewModel.loading(true);
	reqwest({
		url: './a/pushes',
		type: 'json'
	}).then(function (response) {
		viewModel.organization(response.organization);
		viewModel.startDate(response.start);
		viewModel.endDate(response.end);
		viewModel.repos(response.map);
		viewModel.loading(false);
	}).fail(function (err, msg) {
		console.error(msg);
	});
}
</script>
</head>
<body>
<div class="container">

<header class="main-header">
	<h1 class="app-name">panorama</h1>
	<h3 class="subtitle" data-bind="visible: loggedIn && !loading()"><span data-bind="text: organization"></span> from <span data-bind="text: startFormatted"></span> up to <span data-bind="text: endFormatted"></span></h3>
</header>

<span class="loading" data-bind="visible: loading">loading...</span>

<% if (everyauth.loggedIn) { %>
<aside class="current-user">
	<div class="current-user-avatar"><a href="<%= user.html_url %>"><img class="user-avatar" src="<%= user.avatar_url %>"></a></div>
	<div class="current-user-name">Hello, <strong><%= user.login %></strong></div>
</aside>
<% } %>

<% if (!everyauth.loggedIn) { %>
	<p>See everything that's going on in your organization. <a href="auth/github">Login via GitHub</a></p>
<% } %>

<div id="content" data-bind="foreach: repos">
	<div class="repo">
		<h3 class="repo-name" data-bind="text: name"></h3>
		<ul class="pushes" data-bind="foreach: pushes">
			<li class="push">
				<a class="hint--top hint--info" target="_blank" data-bind="attr: { href: $root.getGithubLink($data), 'data-hint': $root.getTooltipText($data) }">
					<img width="50" height="50" data-bind="attr: { src: user.image, alt: user.login }">
					<span class="commit-count push-info" data-bind="text: size"></span>
					<span class="branch push-info" data-bind="visible: branch !== 'master'">Ͱ</span>
				</a>
			</li>
		</ul>
	</div>
</div>

</div>
</body>
</html>
