<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>panorama</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="css/hint.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/lanes.css">

<script src="js/reqwest.min.js" type="text/javascript"></script>
<script src="js/knockout.min.js" type="text/javascript"></script>
<script src="js/underscore.min.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>
<script src="js/svg.min.js" type="text/javascript"></script>
<script src="js/panorama.js" type="text/javascript"></script>
<script>
	var panorama = new Panorama(<%- JSON.stringify(user.organizations) %>);
	window.onload = function () {
		panorama.init('lanes');
	};
</script>
</head>
<body>
<div class="container">

	<% include include/header %>

	<div id="body">
		<div id="content">
			<div class="lane-wrapper">
				<div class="repo time">
					<h3 class="repo-name" data-bind="visible: $root.buckets().length > 0">&nbsp;</h3>
					<!-- ko foreach: { data: $root.bucketLabels } -->
					<ul class="pushes" data-bind="css: 'bucket-' + $index()">
						<li class="push">
							<span data-bind="text: $data"></span>
						</li>
					</ul>
					<!-- /ko -->
				</div>
				<!-- ko foreach: bucketedPushesByRepo --><div class="repo">
					<h3 class="repo-name" data-bind="text: repo.simpleName, click: $root.setFilter.bind($root)"></h3>
					<!-- ko foreach: { data: buckets, afterRender: $root.adjustAllLanes } -->
					<ul class="pushes" data-bind="foreach: pushes, css: bucketClass">
						<li class="push">
							<a class="hint--top hint--info" target="_blank" data-bind="attr: { href: $root.getGithubCompareLink($data),
									'data-hint': $root.getPushTooltip($data) }, css: { 'hint--top-left': $parentContext.$parentContext.$index() > $root.repos().length / 2 }">
								<img width="50" height="50" data-bind="attr: { src: user.image, alt: user.login }">
								<span class="commit-count push-info" data-bind="text: size"></span>
								<span class="branch push-info" data-bind="visible: branch !== 'master'">Ͱ</span>
							</a>
						</li>
					</ul>
					<!-- /ko -->
				</div><!-- /ko -->
				<div id="underlay"></div>
			</div>
		</div>
	</div>

</div>
</body>
</html>
