<% layout('include/layout') -%>

<p class="loading" data-bind="visible: loading">loading...</p>
<div id="body">
	<div id="content" class="content-lanes">
		<div class="outer-lane-wrapper"><div class="inner-lane-wrapper">
			<div class="repo time">
				<h3 class="repo-name" data-bind="visible: $root.buckets().length > 0">&nbsp;</h3>
				<!-- ko foreach: { data: $root.bucketLabels } -->
				<ul class="pushes" data-bind="css: 'bucket-' + $index()">
					<li class="push">
						<span data-bind="text: $data"></span>
					</li>
				</ul>
				<!-- /ko -->
			</div>
			<!-- ko foreach: bucketedPushesByRepo --><div class="repo">
				<h3 class="repo-name" data-bind="text: repo.simpleName, click: $root.setFilter.bind($root)"></h3>
				<!-- ko foreach: { data: buckets, afterRender: $root.adjustAllLanes } -->
				<ul class="pushes" data-bind="foreach: pushes, css: bucketClass">
					<li class="push">
						<a class="hint--top hint--info" target="_blank" data-bind="attr: { href: link(),
								'data-hint': tooltip() }, css: { 'hint--top-left': $parentContext.$parentContext.$index() >= $root.repos().length / 2 }">
							<img width="50" height="50" data-bind="attr: { src: user.image + 's=100', alt: user.login }">
							<span class="commit-count push-info" data-bind="visible: size > 0, text: size"></span>
							<span class="branch push-info octicon" data-bind="visible: icon(), css: icon()"></span>
						</a>
					</li>
				</ul>
				<!-- /ko -->
			</div><!-- /ko -->
			<div id="underlay"></div>
		</div></div>
	</div>
</div>
