<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>panorama</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="css/hint.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/list.css">

<script src="js/reqwest.min.js" type="text/javascript"></script>
<script src="js/knockout.min.js" type="text/javascript"></script>
<script src="js/underscore.min.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>
<script>
	var viewModel = {
		loggedIn: <%= everyauth.loggedIn %>,
		organization: ko.observable(),
		loading: ko.observable(false),
		repos: ko.observableArray(),
		pushes: ko.observableArray(),
		startDate: ko.observable(),
		endDate: ko.observable(),

		getGithubLink: function (push) {
			return 'https://github.com/' + [viewModel.organization(), push.repo, 'compare', push.before + '...' + push.head].join('/');
		},
		getCommits: function (push) {
			var messages = _.map(_.pluck(push.commits, 'message'), function (msg) {
				return '‣ ' + msg;
			});
			return messages.join('\n');
		}
	};

	window.onload = function () {
		fetchPushes();
		ko.applyBindings(viewModel);
	};
	function fetchPushes() {
		if (!viewModel.loggedIn) {
			return false;
		}

		viewModel.loading(true);
		reqwest({
			url: './a/pushes',
			type: 'json'
		}).then(function (response) {
			viewModel.organization(response.organization);
			viewModel.pushes(response.pushes);
			viewModel.repos(_.keys(response.map));
			viewModel.loading(false);
		}).fail(function (err, msg) {
			console.error(msg);
		});
	}
</script>
</head>
<body>
<div class="container">

<% include include/header %>

	<div id="content">
		<ul class="pushes" data-bind="foreach: pushes">
			<li class="push">
				<div class="push-user-container">
					<a class="push-user" target="_blank" data-bind="attr: { href: $root.getGithubLink($data), title: user.login }">
						<img width="50" height="50" data-bind="attr: { src: user.image, alt: user.login }">
					</a>
				</div>
				<p class="push-commits" data-bind="text: $root.getCommits($data)"></p>
			</li>
		</ul>
	</div>

</div>
</body>
</html>