<% layout('include/layout') -%>

<p class="loading" data-bind="visible: loading">loading...</p>
<p class="error" style="display: none" data-bind="visible: error, text: error"></p>
<div id="body">
	<div class="content-list" style="display: none" data-bind="visible: !loading(), if: 'list' == view()">
		<div class="outer-list-wrapper">
			<nav data-bind="visible: filter" class="list-nav">
				<button data-bind="click: setFilter">Clear filter</button>
			</nav>
			<ul class="pushes" data-bind="foreach: filteredPushes">
				<li class="push">
					<time class="push-time" data-bind="text: $root.getPushTime($data)"></time>
					<div class="push-user-container tubular">
						<img class="push-user filter-user" data-bind="attr: { src: user.image + 's=100', alt: user.login, title: 'View only activity from ' + user.login }, click: $root.setFilter.bind($root, 'user', user.login)">
					</div>
					<div class="push-commits">
						<div class="push-commits-intro">
							<a target="_blank" data-bind="attr: { href: link() }"><span data-bind="text: linkLabel()"></span></a>
							on
							<a class="repo-tag filter-repo" data-bind="text: $root.getRepository(repo).simpleName, click: $root.setFilter.bind($root, 'repo', repo), style: { 'backgroundColor': $root.getRepository(repo).color }, attr: { title: 'View only activity in ' + $root.getRepository(repo).simpleName }"></a>
							<!-- ko if: branch && branch !== 'master' -->(<span data-bind="text: branch"></span>)<!-- /ko -->
						</div>
						<p class="push-commits-messages" data-bind="text: message()"></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="content-lanes" style="display: none" data-bind="visible: !loading(), if: 'lanes' == view()">
		<div class="outer-lane-wrapper">
			<div class="repo-headings">
				<div class="repo-heading repo-heading-dummy" data-bind="visible: $root.buckets().length > 0">&nbsp;</div>
				<!-- ko foreach: bucketedPushesByRepo -->
				<div class="repo-heading">
					<h3 class="repo-name" data-bind="text: repo.simpleName, click: $root.setFilter.bind($root)"></h3>
				</div>
				<!-- /ko -->
			</div>
			<div class="inner-lane-wrapper">
				<div class="repo time">
					<!-- ko foreach: { data: $root.bucketLabels } -->
					<ul class="pushes" data-bind="css: 'bucket-' + $index()">
						<li class="push">
							<span data-bind="text: $data"></span>
						</li>
					</ul>
					<!-- /ko -->
				</div>
				<!-- ko foreach: bucketedPushesByRepo -->
				<div class="repo">
					<!-- ko foreach: { data: buckets, afterRender: $root.adjustAllLanes } -->
					<ul class="pushes" data-bind="foreach: pushes, css: bucketClass">
						<li class="push">
							<a class="hint--top hint--info" target="_blank" data-bind="attr: { href: link(),
								'data-hint': tooltip() }, css: { 'hint--top-left': $parentContext.$parentContext.$index() >= $root.repos().length / 2 }">
								<span class="tubular">
									<img width="50" height="50" data-bind="attr: { src: user.image + 's=100', alt: user.login }">
								</span>
								<span class="commit-count push-info" data-bind="visible: size > 0, text: size"></span>
								<span class="branch push-info octicon" data-bind="visible: icon(), css: icon()"></span>
							</a>
						</li>
					</ul>
					<!-- /ko -->
				</div>
				<!-- /ko -->
				<div id="underlay"></div>
			</div>
		</div>
	</div>
</div>
