<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>panorama</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="css/hint.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/list.css">

<script src="js/reqwest.min.js" type="text/javascript"></script>
<script src="js/knockout.min.js" type="text/javascript"></script>
<script src="js/underscore.min.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>
<script>
	var viewModel = {
		loggedIn: <%= everyauth.loggedIn %>,
		organization: ko.observable(),
		loading: ko.observable(false),
		repos: ko.observableArray(),
		pushes: ko.observableArray(),
		filter: ko.observable(),

		getGithubCompareLink: function (push) {
			return 'https://github.com/' + [viewModel.organization(), push.repo, 'compare', push.before + '...' + push.head].join('/');
		},
		getPushCommits: function (push) {
			var messages = _.map(_.pluck(push.commits, 'message'), function (msg) {
				return '‣ ' + msg;
			});
			return messages.join('\n');
		},
		getPushTime: function (push) {
			return moment(push.date).fromNow(true);
		},

		resetFilter: function () {
			viewModel.filter(null);
		},
		setFilter: function (data, event) {
			if (event.target.className === 'repo-tag') {
				viewModel.filter(function (push) { return push.repo === data.repo; });
			} else if (event.target.className === 'push-user') {
				console.log(data.user.login);
				viewModel.filter(function (push) { return push.user.login === data.user.login; });
			}
		}
	};
	viewModel.filteredPushes = ko.computed(function() {
		var filter = this.filter();
		if (!filter) {
			return this.pushes();
		} else {
			return ko.utils.arrayFilter(this.pushes(), filter);
		}
	}, viewModel);

	window.onload = function () {
		fetchPushes();
		ko.applyBindings(viewModel);
	};
	function fetchPushes() {
		if (!viewModel.loggedIn) {
			return false;
		}

		viewModel.loading(true);
		reqwest({
			url: './a/pushes',
			type: 'json'
		}).then(function (response) {
			viewModel.organization(response.organization);
			viewModel.pushes(response.pushes);
			viewModel.repos(_.keys(response.map));
			viewModel.loading(false);
		}).fail(function (err, msg) {
			console.error(msg);
		});
	}
</script>
</head>
<body>
<div class="container">

<% include include/header %>

	<nav data-bind="visible: filter()">
		<button data-bind="click: resetFilter">Reset</button>
	</nav>
	<div id="content">
		<ul class="pushes" data-bind="foreach: filteredPushes">
			<li class="push">
				<time class="push-time" data-bind="text: $root.getPushTime($data)"></time>
				<div class="push-user-container">
					<img class="push-user" data-bind="attr: { src: user.image, alt: user.login, title: user.login }, click: $root.setFilter">
				</div>
				<div class="push-commits">
					<div class="push-commits-intro"><a target="_blank" data-bind="attr: { href: $root.getGithubCompareLink($data) }"><span data-bind="text: size + (size === 1 ? ' commit' : ' commits')"></span></a> to <a class="repo-tag" data-bind="text: repo, click: $root.setFilter"></a></div>
					<p data-bind="text: $root.getPushCommits($data)"></p>
				</div>
			</li>
		</ul>
	</div>

</div>
</body>
</html>