<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>panorama</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">

<% include include/header %>

	<div id="body">
		<div id="content">
			<p class="login-prompt"><a href="auth/github">Login via GitHub</a> to view the activity that matters to you.</p>
		</div>
	</div>

</div>
</body>
</html>