.content-lanes {
	white-space: nowrap;
}

.content-lanes .outer-lane-wrapper {
	margin: 0 auto;
	display: table;
}

.content-lanes .inner-lane-wrapper {
	position: relative;
	display: flex;
	align-items: stretch;
	float: left;
	padding-top: 2px;
}

#underlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -10;
	overflow: hidden;
}

/* svg.js leaves this behind (why?) */
body > svg:last-child {
	display: none;
}

.content-lanes .repo-headings {
	display: flex;
}
.content-lanes .lane-time,
.repo-headings .repo-heading:first-child {
	width: 90px; /* ugh magic */
}
.repo-headings .repo-heading {
	width: 60px; /* match lanes: 50px + 10px padding */
	flex: 0 0 auto;
	overflow: hidden; /* long repo names do not encroach */
}
.repo-headings .repo-heading .repo-name {
	transform: rotate(-90deg);
	width: 0;
	white-space: nowrap;
	cursor: pointer;
	line-height: 0;
	margin: 150px 0 0;
	position: relative;
	left: 50%;
	bottom: 5px;
}

.content-lanes .push + .push {
	margin-top: 5px;
}
.content-lanes .push img {
	width: 50px;
	vertical-align: bottom;
}
.content-lanes .lane-time .push {
	font-size: 80%;
}
.content-lanes .lane {
	padding: 0 0 50px 0;
	flex-shrink: 0;
}

.repo-headings .repo-heading:nth-child(even),
.content-lanes .lane:nth-child(even) {
	background-color: rgba(0,0,0,0.025);
}

.repo-headings .repo-heading + .repo-heading:nth-child(odd),
.content-lanes .lane + .lane:nth-child(odd) {
	background-color: rgba(255,255,255,0.03);
}

.lane-inline-label {
	opacity: 0;
	background: #D4DADD;
	box-shadow: 0 0 7px 1px rgba(50,50,50, 0.2);
	position: fixed;
	top: 0;
	padding: 5px 5px 8px;
	z-index: 1000;
	color: black;
	margin-left: 30px; /* half of lane width */
	transform: translateX(-50%);

	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	border-bottom-left-radius: 50% 4px;
	border-bottom-right-radius: 50% 4px;
}
/* arrow makes label appear too tooltipish? */
/* .lane-inline-label:after {
	position: absolute;
	top: 100%;
	left: 50%;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
	border: solid transparent;
	border-top-color: #D4DADD;
	border-width: 8px;
	margin-left: -8px;
}*/

.lane-repo:hover .lane-inline-label {
	opacity: 1;
}

.content-lanes .lane-repo-labelled:hover {
	background-color: rgba(0,0,0,0.2) !important;
}

.content-lanes .lane-time .repo-name {
	-webkit-transform: none;
	transform: none;
}
.pushes {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	border-radius: 5px;
	background: none !important;
}
.pushes.empty {
	background: none !important;
}
.pushes.bucket-color-0 {
	background-color: #807c59;
}
.pushes.bucket-color-1 {
	background-color: #618059;
}
.pushes.bucket-color-2 {
	background-color: #73bf60;
}
.pushes.bucket-color-3 {
	background-color: #ccae8f;
}
.pushes.bucket-color-4 {
	background-color: #806c59;
}
.pushes.bucket-color-5 {
	background-color: #bf9060;
}
.pushes.bucket-color-6 {
	background-color: #65567a;
}
.pushes.bucket-color-7 {
	background-color: #8860bf;
}
.pushes.bucket-color-8 {
	background-color: #bfb660;
}
.pushes.bucket-color-9 {
	background-color: #cc8f8f;
}
.pushes.bucket-color-10 {
	background-color: #bf6060;
}
.push-info {
	position: absolute;
	color: white;
	display: inline-block;
	font: 14px/1 octicons;
	text-align: center;
	font-weight: normal;
	padding: 3px 0;
	line-height: 1;
	font-size: 11px;
	bottom: 0;
}
.branch {
	background: orangered;
	right: 0;
	border-radius: 45% 0;
	width: 40%;
}
.commit-count {
	background: #39aaff;
	left: 0;
	border-radius: 0 40%;
	width: 40%;
}


[data-hint]:after {
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 70ex;
}

.hint--top-left:after {
	right: 50%;
	left: inherit;
	margin-right: -18px;
	margin-left: 0;
}

.hint--info:after {
	background-color: #65567a;
	text-shadow: 0 -1px 0px #193c4c; }
.hint--info.hint--top:before {
	border-top-color: #65567a; }
.hint--info.hint--bottom:before {
	border-bottom-color: #65567a; }
.hint--info.hint--left:before {
	border-left-color: #65567a; }
.hint--info.hint--right:before {
	border-right-color: #65567a; }
