.content-lanes {
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

.content-lanes .inner-lane-wrapper {
	position: relative;
	display: flex;
	align-items: stretch;
	float: left;
}

#underlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -10;
	overflow: hidden;
}

/* svg.js leaves this behind (why?) */
body > svg:last-child {
	display: none;
}

.content-lanes .repo-headings {
	display: flex;
}
.content-lanes .time,
.repo-headings .repo-heading:first-child {
	flex-basis: 90px; /* ugh magic */
}
.repo-headings .repo-heading {
	flex-basis: 60px; /* match lanes: 50px + 10px padding */
	flex-shrink: 0;
	overflow: hidden; /* long repo names do not encroach */
}
.repo-headings .repo-heading .repo-name {
	transform: rotate(-90deg);
	width: 0;
	white-space: nowrap;
	cursor: pointer;
	line-height: 0;
	margin: 150px 0 0;
	position: relative;
	left: 50%;
	bottom: 5px;
}
.repo-heading:nth-child(even) {
	background-color: rgba(0,0,0,0.03);
}

.content-lanes .push + .push {
	margin-top: 5px;
}
.content-lanes .push img {
	width: 50px;
	border-radius: 50% / 5px;
	vertical-align: bottom;
}
.content-lanes .time .push {
	font-size: 80%;
}
.content-lanes .repo {
	padding: 0 0 50px 0;
	flex-shrink: 0;
}

.content-lanes .repo:nth-child(even) {
	background-color: rgba(0,0,0,0.03);
}

.content-lanes .repo + .repo:nth-child(odd) {
	background-color: rgba(255,255,255,0.03);
}

.content-lanes .time .repo-name {
	-webkit-transform: none;
	transform: none;
}
.pushes {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	border-radius: 5px;
	background: none !important;
}
.pushes.empty {
	background: none !important;
}
.pushes.bucket-color-0 {
	background-color: #807c59;
}
.pushes.bucket-color-1 {
	background-color: #618059;
}
.pushes.bucket-color-2 {
	background-color: #73bf60;
}
.pushes.bucket-color-3 {
	background-color: #ccae8f;
}
.pushes.bucket-color-4 {
	background-color: #806c59;
}
.pushes.bucket-color-5 {
	background-color: #bf9060;
}
.pushes.bucket-color-6 {
	background-color: #65567a;
}
.pushes.bucket-color-7 {
	background-color: #8860bf;
}
.pushes.bucket-color-8 {
	background-color: #bfb660;
}
.pushes.bucket-color-9 {
	background-color: #cc8f8f;
}
.pushes.bucket-color-10 {
	background-color: #bf6060;
}
.push-info {
	position: absolute;
	color: white;
	text-shadow: 0 0 5px black, 0 0 2px black, 0 0 1px black;
	font: 14px/1 octicons;
}
.branch {
	bottom: 4px;
	right: 4px;
}
.commit-count {
	bottom: 3px;
	left: 3px;
}


[data-hint]:after {
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 70ex;
}

.hint--top-left:after {
	right: 50%;
	left: inherit;
	margin-right: -18px;
	margin-left: 0;
}
