.content-list {
	display: flex;
	justify-content: center;
}
.content-list .outer-list-wrapper {
	width: 800px;
	background: white;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
}
.content-list a:visited {
	color: black;
}

.content-list .pushes {
	width: 100%;
	list-style-type: none;
	padding: 0;
}
.content-list .push {
	padding: 10px;
	display: flex;
	align-items: flex-start;
	clear: both;
}
.content-list .push + .push {
	border-top: 1px solid #ddd;
}

.content-list .push-commits {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.content-list .push-commits-messages {
	margin: 0;
	white-space: pre-line;
}
.content-list .push-commits-intro {
	font-size: 80%;
	margin-bottom: 5px;
}

.content-list .repo-tag {
	cursor: pointer;
	background: #999; /* default only */
	color: white;
	padding: 0 4px 1px;
	border-radius: 4px;
	font-size: 90%;
}

.content-list .push-user-container {
	margin-right: 10px;
	vertical-align: top;
}

.content-list .push-user {
	line-height: 0;
	display: block;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.content-list .push-time {
	color: #999;
	font-size: 80%;
	order: 1;
}

.content-list .list-nav {
	padding: 10px;
}