#content {
	display: flex;
	justify-content: center;
}

.pushes {
	width: 800px;
}

.push {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: flex-start;
	clear: both;
}

.push-commits {
	display: inline-block;
	white-space: pre-line;
	margin: 0;
	flex: 1;
}

.push-user-container {
	margin-right: 10px;
	vertical-align: top;
}

.push-user {
	line-height: 0;
	display: block;
}

.push-time {
	color: #999;
	font-size: 80%;
	order: 1;
}

