body {
	margin: 0;
}
.main-header {
	display: flex;
	justify-content: center;
	z-index: 100;
	border-bottom: 2px solid rgba(100,100,100,0.2);
	padding: 20px 0;
	position: relative;
	background-color: rgba(255,255,255,0.3);
}
.current-view {
	position: absolute;
	left: 10px;
	top: 15px;
}
.current-user {
	position: absolute;
	right: 10px;
	top: 15px;
}
.current-view > div,
.current-user > div {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}
.current-view > div + div,
.current-user > div + div {
	padding-left: 5px;
}
.current-user-name {
	white-space: nowrap;
}
.current-user-avatar {
	width: 40px;
}
.current-user-avatar img {
	width: 100%;
	border-radius: 10px 10px;
	vertical-align: bottom;
}
.app-name {
	margin: 0;
	letter-spacing: 5px;
	line-height: 1em;
}
.subtitle {
	margin: 0 0 0 10px;
	line-height: 2em;
	color: #999;
	font-weight: normal;
	font-size: 1em;
}
.loading, .login-prompt {
	text-align: center;
}
.fixed-bg {
	position: fixed;
	background-image: url(https://unsplash.imgix.net/photo-1414446483597-8d8f792bfe39?q=75&fm=jpg&s=2756ab87b786786b9e689b6204d99c90);
	z-index: -100;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.7;
}
