body {
	position: relative;
	margin: 0;
}
.container {
}
.main-header {
	padding: 20px 0;
	margin-bottom: 10px;
}
.current-user {
	position: absolute;
	right: 10px;
	top: 10px;
}
.current-user > div {
	display: table-cell;
	vertical-align: middle;
}
.current-user > div + div {
	padding-left: 5px;
}
.current-user-name {
	white-space: nowrap;
}
.current-user-avatar {
	width: 40px;
}
.current-user-avatar img {
	width: 100%;
	border-radius: 10px 10px;
}

.main-header {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;
}
.app-name {
	margin: 0;
	letter-spacing: 5px;
	line-height: 1em;
	margin-right: 10px;
}
.subtitle {
	margin: 0;
	line-height: 2em;
	color: #999;
	font-weight: normal;
	font-size: 1em;
}

