body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
#body {
	flex: 1 0 auto;
}
.main-header {
	z-index: 100;
	box-shadow: 0 0 7px 1px rgba(50,50,50, 0.2);
	background-color: rgba(255,255,255,0.8);
	padding: 16px 0;
	position: relative;
}
.main-footer {
	box-shadow: 0 0 7px 1px rgba(50,50,50, 0.2);
	background-color: rgba(255,255,255,0.5);
	padding: 10px 0;
	text-align: center;
}
.current-view {
	position: absolute;
	left: 20px;
	top: 10px;
}
.current-user {
	position: absolute;
	right: 20px;
	top: 10px;
}
.current-view > div,
.current-user > div {
	display: table-cell;
	vertical-align: middle;
	height: 42px;
}
.current-view > div + div,
.current-user > div + div {
	padding-left: 5px;
}
.current-view-type > .input {
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 0 rgba(0,0,0,.03);
	padding: 0 .3em;
	border-radius: 3px;
	font: inherit;
	line-height: 2;
}

.input-repo-name {
	width: 240px;
}

.current-view-type > span.input {
	cursor: pointer;
}
.current-user-name {
	white-space: nowrap;
}
.current-user-avatar img {
	width: 30px;
}
.app-name {
	margin: 0;
	text-align: center;
}
.app-logo {
	height: 32px;
	vertical-align: bottom;
}
.loading, .error {
	text-align: center;
	margin: 1em 0;
}
.fixed-bg {
	position: fixed;
	background-image: url(https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867);
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(250,250,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(250,250,250,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(250,250,250,1) 100%); /* W3C */
	z-index: -100;
	top: -1px;
	left: 0;
	bottom: 0;
	right: -1px;
	background-size: cover;
	opacity: 0.7;
}
.current-user-avatar .tubular {
	border-radius: 3px/50%;
}
.current-user-avatar .tubular > img {
	border-radius: 50%/3px;
}
.tubular {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
}
.tubular > img {
	border-radius: 50%/8px;
	vertical-align: bottom;
}
strong {
	font-weight: bold;
}
