<footer class="main-footer">
	An open source tool built by and for folks at <a href="http://www.pulseenergy.com">Pulse Energy</a> &bull; <a href="http://github.com/pulseenergy/panorama">GitHub project</a>
</footer>
