<header class="main-header">
	<h1 class="app-name">panorama</h1>
	<h3 class="subtitle" data-bind="if: false"><span data-bind="text: organization().login"></span></h3>
	<% if (everyauth.loggedIn) { %>
	<aside class="current-user">
		<div class="current-user-name">Hello, <strong><%= user.login %></strong></div>
		<div class="current-user-avatar"><a href="<%= user.html_url %>"><img class="user-avatar" src="<%= user.avatar_url %>"></a></div>
	</aside>
	<% } else { %>
	<aside class="current-user">
		<div class="current-user-login"><a href="/auth/github">Login via GitHub</a> to view the activity that matters to you</div>
	</aside>
	<% } %>
	<aside class="current-view">
		<div class="current-view-type">
			Showing
			<input class="input" data-bind="value: organizationInput"/> as <span class="input" data-bind="click: switchView, text: view"></span>
		</div>
	</aside>
</header>

